*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills{
    color: coral;

    background-color: blanchedalmond;

    padding: 20px;

    border-radius: 10px;

    margin: 20px;
}

.bean{
    background-color:cyan;

    padding: 20px;

    width: 90%;

    border-radius: 10px;

    margin: 20px;

    color: darkmagenta;

    font-size: 20px;

     display: flex;

     flex-direction: column;

    justify-content: center;

    align-items: center;
  }

  .bean img{
    width: 100px;
    
    height: auto;

  }